
.container {
    position: fixed;
    top: 70px;
    left: 70px;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    overflow-y: auto;
}


.heading {
    text-align: center;
    color: #4A148C;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.subHeading {
    color: #4A148C;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
